# PostgreSQL dev configuration
POSTGRES_USER=USER_NAME
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=visioncrafter
DATABASE_URL=postgresql://USER_NAME:PASSWORD@db:5432/visioncrafter
POSTGRES_PORT=5432

# Optional: override the port if you map differently
# POSTGRES_PORT=5432

# Other env vars for app runtime can go here
# PYTHONUNBUFFERED=1
